@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-scroll {
    display: flex;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
}