<div class="mt-10 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-8 items-center justify-center">
    <img src="assets/clients/moglix.png" alt="Moglix" class="h-12 mx-auto">
    <img src="assets/clients/reliance.png" alt="Reliance" class="h-12 mx-auto">
    <img src="assets/clients/southco.png" alt="Southco" class="h-12 mx-auto">
    <img src="assets/clients/netflix.png" alt="Netflix" class="h-12 mx-auto">
    <img src="assets/clients/insureco.png" alt="InsurEco" class="h-12 mx-auto">
    <img src="assets/clients/infosys.png" alt="Infosys" class="h-12 mx-auto">
    <img src="assets/clients/intelligence-node.png" alt="Intelligence Node" class="h-12 mx-auto">
    <img src="assets/clients/visa.png" alt="Visa" class="h-12 mx-auto">
    <img src="assets/clients/aitheon.png" alt="Aitheon" class="h-12 mx-auto">
    <img src="assets/clients/rushgold.png" alt="Rush Gold" class="h-12 mx-auto">
    <img src="assets/clients/tpro.png" alt="T-PRO" class="h-12 mx-auto">
    <img src="assets/clients/deloitte.png" alt="Deloitte" class="h-12 mx-auto">
</div>